*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #55efc4;
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  padding-top: 3em;
}

.nav {
  position: fixed;
  background: white;
  padding: 1.5rem 1rem 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.logo{
  display: inline;
}

.nav-list {
  display: none;
  list-style: none;
  padding: 0;
  text-align: right;
}

@media screen and (min-width: 800 px) {
  .nav-list {
    display: block;
    color: black;
    text-align: right
  }
}

.nav:hover .nav-list{
  display: block;
}

.nav-item {
  border-top: 0;
  text-decoration: none;
  float: right;
}

@media screen and (min-width: 800 px) {
  .nav-item {
    border-top: 1px solid #333;
  }
}

.nav-link {
  display: inline-block;
  margin: 1rem 0;
  color: black;
  text-decoration: none;
}
  .nav-link:hover {
    text-decoration: underline;
  }

.title{
  text-align: center;
}

.title span {
  border-bottom: 2.5px solid #00b894;
}

footer{
  border-top: 8px solid #00b894;
  background-color: #636e72;
  color: white;
}
