*,
*::before,
*::after {
  box-sizing: border-box;
}

.all-services{
  padding: 0 1.5em 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

@media screen and (min-width:800px) {
  .all-services{
    grid-template-columns: 1fr 1fr;

  }
}

.services{
  border: 2px solid white;
  background-color: #dfe6e9;
}

.service-heading{
  background-color: #636e72;
  color: white;
  margin: 0;
  font-size: 1.3em;
  text-align: center;
  padding: 15px;
}

.service-heading p{
  font-size: 0.5em;
}

.container {
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
